<h1>Roy</h1>
<h2>Task Management</h2>
<h2>for Slack Teams</h2>

<div>
  <a class="btn" href="#">Login via Slack</a>
  <a class="btn" href="#">View the Source</a>
</div>
<div class="arrow">▼</div>
<div class="columns">
  <div class="column-left"><strong>Slack</strong><br>Roy integrates easily with Slack, allowing you to issue commands, create items, and interact with it from right within Slack.</div>
  <div class="column-center"><strong>Open Source</strong><br>Roy is open-source software. We use the liberal MIT licence to allow you to self-host and work on it freely.</div>
  <div class="column-right"><strong>Calendar</strong><br>Roy's calendar view allows you to easily see your entire team's working status at a glance. No more hunting emails to check up on progress. Just use Roy.</div>
  <div class="divider"></div>
  <div class="column-left"><strong>Searching</strong><br>Roy uses the same #hashtags and @mentions, allowing you to easily search through all the issues.</div>
  <div class="column-center"><strong>Fast.</strong><br>Roy is designed to be minimal, and works hard to deliever a fast experience.</div>
  <div class="column-right"><strong>Self-Hosted.</strong><br>Your data is safely stored on your own servers. If you don't want to self-host, we offer Roy as a free service as well.</div>
</div>