h1{
  font-size:2.5em;
}
h1 a{
  color: #4E4E56;
  text-decoration: none;
}
h2{
  font-size: 1.8em;
}
a{
  text-decoration: none;
  color: #DA635D;
}
a:hover{
  text-decoration: underline;
}
small{
  font-size:0.5em;
  color: #B1938B;
}
nav{
  margin-top: 15px;
}
article{
  margin-top: 20px;
}
article ul{
  list-style-type:none;
}
article li{
  margin-top:3px;
}
article li .channel{
  display: none;
}
footer{
  height: 3em;
  bottom: 0px;
  position:fixed;
}
.done{
  cursor: pointer;
}
.list-head{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}