{% extends "layout.twig" %}
{% block title %}SDSLabs{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="assets/js/routie.min.js"></script>
<script src="assets/js/jquery.tooltipster.min.js"></script>
{% endblock %}
{% block css %}
{{ parent() }}  
<link href="assets/css/tooltipster.css" rel="stylesheet">
{% endblock %}
{% block body %}
  <h1><a href="#">Roy</a> <small>Task management for slack</small></h1>
  <nav class="hashtags">
  </nav>
  <nav class="mentions">
  </nav>
  <article>
    <ul>
    </ul>
  </article>
  <script src="assets/js/script.js"></script>
{% endblock %}