{% extends "layout.twig" %}
{% block title %}SDSLabs{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="assets/js/routie.min.js"></script>
<script src="assets/js/jquery.tooltipster.min.js"></script>
{% endblock %}
{% block css %}
{{ parent() }}  
<link href="assets/css/tooltipster.css" rel="stylesheet">
{% endblock %}
{% block body %}
  <h1><a href="#">Roy</a> <small>Task management for slack</small></h1>
  <nav class="hashtags">
  </nav>
  <nav class="mentions">
  </nav>
  <article>
    <ul>
    </ul>
  </article>
  <footer>
    Roy is open source software for Slack users. <a href="https://github.com/captn3m0/roy">[Source Code]</a> <a href="https://blog.sdslabs.co/roy/">[Blog Entry]</a> <a href="http://roy.sdslabs.co/">[Project Page]</a>
  </footer>
  <script src="assets/js/script.js"></script>
{% endblock %}